<body bgcolor=silver>

<center><h2> Player 1: <%= p1_name%> please pick a word for <%= p2_name%>.</h2>

<form method="post" action="gameword">

<input type="password" name="word">

<input type="submit" value="Submit"/>

<input type="hidden" name="player1" value='<%= p1_name%>'>

<input type="hidden" name="player2" value='<%= p2_name%>'>
</center>
<center><h2> Player 2: <%= p2_name%> you will be guessing <%= p1_name%>'s word. </h2></center>



</form>